# @todo #7:10min add fakes folder back for PHPStan checks when it will be
#  created.
parameters:
	level: 8
	paths:
		- src
		- fakes
		- tests
includes:
		- vendor/phpstan/phpstan/conf/bleedingEdge.neon